html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: rgba(218, 234, 247, 0.15);
  font-family: 'Open-Sans', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #BDBBC2;
}

.wdth-73 {
  width: 73.7%;
  margin: 0 auto;
  margin-right: 40px;
}

.column {
  text-align: left;
  padding-left: 4px;
  flex-wrap: nowrap;
  display: inline-flex;
}

.column:not(:last-child) {
  flex-basis: 40%;
}

.item-form {
  padding-right: 20%;
}

.item input {
  width: 100%;
}

.col-header {
  opacity: .3;
}

.col-header.row {
  padding-bottom: 8px;
}

.col-header .column h4 {
  margin: 1px 1px 1px 0;
}

#logout-btn-container {
  position: fixed;
  right: 40px;
  width: 100px;
}

.bg-prpl {
  background: #542437;
}

.bg-blue {
  background: #00A0B0;
}

.bg-lt-blue {
  background: rgba(218, 234, 247, 0.15);
}

.bg-white {
  background: white;
}

.nav-wdth {
  width: 20vw;
  min-width: 154px;
  border-right: 1px ;
}

.top-ht {
  height: 100px;
}

.inline {
  display: inline-block;
}

.light-font {
  font-weight: 350;
}

.box-shadow {
  border: 1px solid #BDBBC2;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.add-container {
  position: fixed;
  top: 100px;
  margin: 20px 0 20px 1.7%;
  width: 16vw;
  display: flex;
  justify-content: center;
  text-align: center;
}

.add-container h3 {
  font-size: 20px;
  font-weight: 400;
}

.add-btn {
  height: 24px;
  margin: 19px 12px 0 6px;
}

.edit-btn {
  height: 24px;
  border-radius: 5px;
}

.alert {
  color: white;
  background-color: red;
}

.delete-list {
  width: 200px;
}

.delete-txt {
  margin: 2px 0 0 8px;
}

.delete-icon {
  height: 18px;
  width: auto;
}

.pointer {
  cursor: pointer;
}

.flex-col {
  width: 10em;
  display: flex;
  flex-direction: column;
}

.order-btn {
  float: right
}