html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Open-Sans', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.flex {
  display: flex;
}

.flex-start {
  align-items: top;
}

.ctr-items {
  align-items: center;
}

.ctr-txt {
  text-align: center;
}

.auth-sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 33%;
}

.auth-wrapper {
  width: 100vw;
  height: calc(100vh - 80px);
  padding: 80px;
  padding-bottom: 0;
}

.auth-container {
  position: relative;
  width: 600px;
  height: 400px;
  margin: 0 auto;
  z-index: 1;
  font-size: 12px;
  border-radius: 3px;
}

.auth-container img {
  height: 80%;
  margin: 40px 0;
}

.auth-form input {
  height: 20px;
  margin: 10px 0;
  border-radius: 3px;
}

.auth-container .action-btn {
  float: none;
  margin: 20px 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.w-200 {
  width: 200px;
}

.ft-20 {
  font-size: 20px;
}

.ft-14 {
  font-size: 14px;
}

.ft-8 {
  font-size: 8px;
}

.mrg-0 {
  margin: 0;
}

.top-mrg-20 {
  margin-top: 20px;
}

.top-mrg-10 {
  margin-top: 10px;
}

.vt-pdg-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.hz-pdg-10 {
  padding-right: 10px;
  padding-left: 10px;
}

.page-pdg {
  padding: 20px 20px 0 240px;
}

.row-container {
  padding-left: 20px;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}

.margin-40 {
  margin: 40px;
  margin-top: 0;
}

.underline {
  text-decoration: underline;
}

.column {
  width: 25%;
  display: inline-block;
  flex-wrap: nowrap;
  align-items: center;
  text-align: left;
  white-space: nowrap;
  /* text-overflow: ellipsis; =>  *****TODO FIX***** */
}

.column h4:not(.delete-txt) {
  overflow: hidden;
}

.list-header .column {
  padding-right: 19px;
}

.list-header * {
  overflow: hidden;
}

.list-header.row {
  padding: 8px 0 8px 8px;
}

.list-header .column h4 {
  margin: 1px 1px 1px 0;
}

#edit-product-page .column:first-of-type {
  margin-right: 40px;
}

#edit-product-page .column:last-of-type {
  margin-right: 0px;
}

#edit-product-page .column h4 {
  padding-left: 2px;
}

.data-form {
  height: 20px;
  align-items: center;
}

.data-form .column {
  height: 20px;
  display: flex;
}

.data-form input {
  width: 40%;
}

.data-form .column:first-of-type input {
  width: 85%;
}

.data-form .column:last-of-type input {
  margin-right: 30%;
}

.data-form p {
  width: 0;
  margin: 0 4px;
  font-size: 20px;
}

.secondary-txt {
  opacity: .3;
}

#logout-btn-container {
  width: 100px;
}

.bg-blue {
  background-color: #C9E3F2;
}

.bg-drk-blue {
  background: #01C4D8;
}

.bg-lt-blue {
  background: #EDF5FA;
}

.bg-white {
  background: white;
}

.bg-prpl {
  background-color: #C9E3F2;
}

.flex-start {
  align-self: flex-start;
}

.nav-wdth {
  width: 220px;
  min-width: 154px;
  border-right: 1px;
}

.top-ht {
  height: 100px;
}

.vh-100 {
  height: 100vh;
}

.w-100-pct {
  width: 100%;
}

.h-100-pct {
  height: 100%;
}

.inline {
  display: inline-block;
}

.justify-ctr {
  justify-content: center;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.light-font {
  font-weight: 350;
}

.box-shadow {
  border: 1px solid #BDBBC2;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.add-container {
  width: 200px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: white;
}

.add-container h3 {
  font-size: 20px;
  font-weight: 400;
}

.add-btn {
  height: 24px;
  margin: 19.5px 6px 0 0;
}

.edit-btn {
  height: 24px;
  border-radius: 5px;
}

.alert {
  color: white;
  background-color: red;
}

.clear {
  font-size: 44px;
}

.delete-list {
  width: 200px;
}

.delete-txt {
  margin: 2px 0 0 8px;
}

.delete-icon {
  height: 18px;
  width: auto;
}

.pointer {
  cursor: pointer;
}

.white {
  color: white;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.content-box {
  box-sizing: content-box;
}

.cancel-btn {
  color: red;
}

.action-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 128px;
  height: 32px;
  padding: 2px 4px;
  font-size: 14px;
  border-radius: 25px;
}

.modal {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.popup-overlay {
  width: calc(100% - 220px);
  margin: 0 0 0 220px;
  padding: 0;
}

.popup-content {
  min-width: 100%;
  height: 100%;
  padding: 0;
  border: none !important;
  padding: 20px !important;
}

.close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  right: 20px;
  opacity: 0.8;
  transition: all 200ms;
  text-decoration: none;
  font-size: 3.2em;
  margin-right: 1em;
  cursor: pointer;
  color: black;
  &:hover {
    opacity: 1;
  }
}

@media only screen and (max-width: 1224px) {
  .page-pdg {
    padding-right: 20px;
    padding-left: 240px
  }
}

@media only screen and (max-width: 1000px) {
  #lists-page.page-pdg,
  #product-page.page-pdg {
    padding-right: 0;
    padding-left: 220px;
  }

  #edit-product-page.page-pdg {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media only screen and (max-width: 800px) {
  #edit-product-page.page-pdg {
    padding-right: 0;
  }
}