html, body {
  margin: 0;
  font-family: 'Open-Sans', sans-serif;
}

.item-row {
 margin-left: 20%;
}

.column {
  display: inline-block;
}

.cell {
  padding-right: 100px;
  padding-left: 20px;
}

.remove {
  color: white;
  background-color: red;
}

.col-header .column {
  width: 173px;
  border: .25px solid black;
}

.col-header .column h4 {
  margin: 1px;
}

#logout-btn-container {
  position: fixed;
  right: 12px;
  width: 100px;
}

.bg-lt-purple {
  background-color: #CCC3E7;
}

.nav-wdth {
  width: 20vw;
}

.top-ht {
  height: 100px;
}

.inline {
  display: inline-block;
}

.add-btn {
  height: 24px;
  margin: 16px 12px 0 6px;
}