#edit-items-header {
  width: 93.6%;
  margin: -10px 0 0 40px;
  padding-left: 4px;
  border: none;
}

#edit-items-header *:not(:last-child) {
  flex-basis: 50%;
}

#edit-items-header a {
  padding-right: 10px;
  color: black;
  text-decoration: none;
  font-size: 38px;
  margin-top: -20px;
}

#edit-items-body #business-name {
  left: 15.7vw;
}

#edit-items-body {
  position: relative;
  width: 100vw;
}

#edit-items-body .row {
  width: 93.6vw;
  margin-left: 40px;
  margin-right: 40px;
  justify-content: space-between;
  border: none;
}

#edit-items-body .col-header .column h4 {
  width: 80px;
}