#items-header {
  color: #6D5D9C;
  margin-right: 36px;
  padding: 18px 0 36px 0;
  border: none;
}

#items-header *:not(:last-child) {
  flex-basis: 50%;
}

#items-container a {
  padding-right: 10px;
  text-decoration: none;
}

#items-container .row {
  color: black; 
}

#items-container {
  position: relative;
  width: 100vw;
}