#lists-page {
  margin-left: 220px;
}

#lists-page .header *:not(:last-child) {
  flex-basis: 50%;
}


#lists-page .col-header .column:nth-of-type(2),
#lists-page .col-header .column:nth-of-type(3) {
  margin-left: 0;
}

#lists-page .column:not(.list-menu-container) {
  width: 33%;
  margin-left: 20px;
}

.list-link {
  display: flex;
  width: 100%;
}

.column.list-menu-container {
  width: 0;
  margin: 2px 40px 0 -20px;
}

.list-menu {
  position: absolute;
  right: 40px;
  width: 180px;
  text-align: center;
  justify-content: center;
}

.list-menu div {
  display: inline-flex;
  margin: 1em;
}

@media only screen and (max-width: 1000px) {
  #lists-page .col-header,
  #lists-page .row-container {
    padding-left: 0px;
  }

  .column.list-menu-container {
    margin-right: 20px;
    margin-left: 0;
  }
}