#lists-body .header {
  margin-right: 36px;
  border: none;
}

#lists-body .header *:not(:last-child) {
  flex-basis: 50%;
}

.list-link {
  display: flex;
  width: 100%;
}

.list-menu-container {
  padding-right: 12px;
}

.list-menu {
  float: right;
  width: 180px;
  text-align: center;
  justify-content: center;
}

.list-menu div {
  margin: 1em;
  padding-left: 20%;
}