#nav-cart {
  height: 100%;
  position: absolute;
  text-align: right;
}

#nav-cart * {
  display: inline-block;
}

#nav-cart--link {
  position: fixed;
  right: 40px;
}

#nav-cart h4 {
  position: fixed;
  top: 12px;
  font-weight: 300;
}

#nav-cart img {
  height: 20px;
  margin: 28px 8px 0 0;
}

#nav-cart--dd {
  position: relative;
  width: 200px;
  height: 106px;
  top: 96px;
  color: white;
  z-index: 100;
}

#nav-cart--dd * {
  padding-top: 8px;
}
