#user-menu {
  width: 300px;
  position: absolute;
  top: 28px;
  right: 0;
  color: white;
  text-align: right;
}

#user-menu * {
  display: inline-block;
}

#user-menu-btn {
  margin-right: 40px;
}

#username {
  padding-left: 18px;
}

#user-dd-menu {
  position: relative;
  width: 200px;
  height: 136px;
  margin-top: 11px;
  color: white;
  z-index: 100;
}

#user-dd-menu * {
  padding-top: 8px;
}