.options-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 220px;
  height: 200px;
  z-index: 1;
}

.options {
  padding: 0 20px;
  flex-basis: 80%;
  border-bottom: 1px solid black;
  overflow: scroll;
}

.unit-option {
  width: 15%;
  min-width: 180px;
}

.add-option-wrapper {
  flex-basis: 20%;
}

.add-option-wrapper .add-item-wrapper {
  border: none;
}
.add-option-wrapper .add-item-wrapper h5 {
  margin: 12px;
}
