.product-form-wrapper {
  position: relative;
  height: 200px;
  background: #edf5fa;
  overflow-x: hidden;
  padding: 0 14px;
}

.product-form {
  display: flex;
  height: 20px;
  align-items: center;
  font-size: 14px;
}

.product-form select,
.product-form .select,
.product-form input,
.hidden-input {
  width: 100%;
  height: 32px;
  min-width: 72px;
  margin: 0 4px;
  padding: 0 0 0 8px;
  background: #fff;
  border: 1px solid #bdbbc2;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 14px;
}

.hidden-input {
  padding: 0;
}

.price-input {
  height: 100%;
  margin: -12px 8px 0 0;
}

.qty-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
}

.qty-wrapper .select,
.qty-wrapper input {
  min-width: 64px;
}

.qty-wrapper .select {
  margin-right: -4px;
}

.qty-wrapper input {
  margin-right: 2px;
}

.form-button-wrapper {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

.form-button-wrapper button {
  margin-left: 8px;
}

@media only screen and (max-width: 640px) {
  .product-form-wrapper {
    height: 520px;
    margin: 0 -10px;
    overflow: hidden;
  }
  .product-form {
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 200px);
  }
  .product-form input {
    line-height: 32px;
  }
  .product-form select,
  .product-form .select,
  .product-form input,
  .hidden-input {
    margin-bottom: 20px;
  }
  .price-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: unset;
    margin: 0 0 0 -8px;
  }
  .qty-wrapper {
    margin-top: -10px;
  }
  .qty-wrapper .select {
    margin-right: -4px;
  }
  .qty-wrapper input {
    margin-right: 4px;
  }
}
