.product-form-wrapper {
  position: relative;
  height: 100%;
  overflow-x: hidden;
  overflow-y: visible;
}

.product-form {
  height: 160px;
  padding: 20px 12px;
  background: #edf5fa;
}

.product-form-inputs {
  display: flex;
  height: 20px;
  align-items: center;
  font-size: 14px;
}

.product-form-inputs.row {
  padding-bottom: 12px;
}

.product-form-inputs select,
.product-form-inputs .select,
.product-form-inputs input,
.hidden-cell {
  width: 100%;
  height: 32px;
  min-width: 72px;
  margin: 0 8px 0 0;
  background: #fff;
  border: 1px solid #bdbbc2;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 14px;
}

.product-form-inputs select,
.product-form-inputs .select,
.product-form-inputs input,
.hidden-cell {
  padding-left: 8px;
}

.price-input,
.hidden-cell:nth-child(5) {
  padding: 45px 8px 0 0;
}

.qty-wrapper {
  margin-top: 13px;
  display: flex;
}

.qty-wrapper .select {
  margin-right: 0;
}

.qty-wrapper input {
  margin-right: 4px;
}

.form-button-wrapper {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

.form-button-wrapper button {
  margin: 0 8px;
}

@media only screen and (max-width: 906px) {
  .product-form-wrapper {
    overflow: hidden;
  }
  .product-form {
    height: 500px;
    padding-top: 0;
  }
  .product-form-inputs {
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 200px);
  }
  .product-form-inputs.row.vt-pdg-20 {
    position: relative;
    padding-top: 0;
  }
  .product-form-inputs.row.vt-pdg-20,
  .product-form-inputs input {
    line-height: 32px;
  }
  .product-form-inputs select,
  .product-form-inputs .select,
  .product-form-inputs input,
  .hidden-cell {
    margin: 20px 0 0 0;
  }
  .hidden-cell {
    position: absolute;
    width: calc(100% - 24px);
    height: 0;
    margin-left: 0;
    padding: 0;
  }
  .options-row {
    position: absolute;
    top: 12px;
    width: 100%;
    height: 0;
  }
  .hidden-cell.category-options-wrapper {
    top: 132px;
  }
  .hidden-cell.vendor-options-wrapper {
    top: 184px;
  }
  .hidden-cell.unit-options-wrapper {
    top: 288px;
    left: calc(50% - 10px);
    width: calc(50% - 15px);
    min-width: calc(50% - 15px);
    padding: 0;
  }
  .hidden-cell .options-container {
    width: 100%;
  }
  .price-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
  .qty-wrapper {
    margin: 0;
  }
  .qty-wrapper .select,
  .qty-wrapper input {
    width: calc(50% - 3px);
    min-width: calc(50% - 3px);
    margin-right: 6px;
  }
  .form-button-wrapper {
    position: absolute;
    bottom: 28px;
    right: 8px;
  }
}
